<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile Update
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ng-container *ngIf="loadingUser; then loadCard; else spinner"></ng-container>
    <ng-template #loadCard>
      <div class="container-update-card">
        <div class="container-update-card-inside">
          <div>
            <mat-form-field>
              <input [(ngModel)]="user.userName" matInput placeholder="User Name" type="text" />
            </mat-form-field>
          </div>
          <button mat-icon-button class="droplet" (click)="updateUserName(user, user.userName)">
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
        <div class="container-update-card-inside">
          <div>
            <mat-form-field>
              <input [(ngModel)]="user.userEmail" matInput placeholder="User Name" type="email" />
            </mat-form-field>
          </div>
          <button mat-icon-button class="droplet" (click)="updateUserEmal(user, user.userEmail)">
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
        <div class="container-update-card-inside">
          <div>
            <h2>Change your profile photo</h2>
            <ion-card-content *ngIf="photoToFireStore" class="image-profile-update">
              <ion-img src="{{photoToFireStore}}" class="ipu" (click)="viewImage(photoToFireStore, imgTitle, imgDescription)"></ion-img>
            </ion-card-content>
            <span >
              <button mat-icon-button (click)="takePhoto()"><mat-icon>camera_alt</mat-icon></button>
            </span>
          </div>
          <button mat-icon-button class="droplet" (click)="uploadPhoto()">
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
      <!--       <div class="update-container-cards">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <mat-form-field>
                <input [(ngModel)]="user.userName" matInput placeholder="User Name" type="text" />
              </mat-form-field>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <br>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <mat-form-field>
                <input [(ngModel)]="user.userEmail" matInput placeholder="User Name" type="email" />
              </mat-form-field>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <br>
        <ion-card style="display: flex">
          <ion-card-header>
            <ion-card-title>Change your profile photo</ion-card-title>
            <ion-card-subtitle class="image-profile-update">
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="photoToFireStore" class="image-profile-update">
            <ion-img src="{{photoToFireStore}}" class="ipu" (click)="viewImage(photoToFireStore, imgTitle, imgDescription)"></ion-img>
          </ion-card-content>
          <button mat-icon-button (click)="takePhoto()" style="margin: 1em 1em 1em -1.1em;">
            <mat-icon>camera_alt</mat-icon>
          </button>
        </ion-card>
        <button mat-button (click)="uploadPhoto()" class="profile-manage-buttons">Change Photo</button>
      </div> -->

    </ng-template>
    <ng-template #spinner>
      <div class="form-container-flex">
        <span>
          <ion-spinner name="dots"></ion-spinner>
        </span>
      </div>
    </ng-template>
  </div>
</ion-content>

<!--<ion-img [src]="user.userPhoto? user.userPhoto : 'https://powerplants.com.au/wp-content/uploads/2017/04/no-profile-pic.jpg' "
  class="ipu" style="width: 10em; height: 10em;"
  (click)="viewImage(photoToFireStore, imgTitle, imgDescription)"></ion-img> -->