.image-profile-update {
    display: flex;
    justify-content: center;
    .ipu {
        width: 10em;
        height: 10em
    }
}

.image-upload {
    width: 10em;
    height: 10em
}

.container-update-card {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    flex-direction: column;
        div {
            border: 1px #ccc solid;
            padding: .8em;
            margin: .2em;
            border-radius: .7em;
        }
}

.container-update-card-inside {
    flex-basis: 25%;
}
.droplet {
    transition: all 3s;
    &:hover {
      transform: rotate(1080deg);
    }
  }

  span {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align : center;
        -moz-box-align    : center;
        -ms-flex-align    : center;
        -webkit-align-items : center;
        align-items : center ;
        justify-content : center;
        -webkit-justify-content : center;
        -webkit-box-pack : center;
        -moz-box-pack : center;
        -ms-flex-pack : center;

  }