<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button checked tab='card'>
        <ion-label>Card</ion-label>
        <ion-icon name="bookmark"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab='update'>
        <ion-label>Update</ion-label>
        <ion-icon name="sync"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab='categories'>
          <ion-label>Categories</ion-label>
          <ion-icon name="apps"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>