<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="userState; then userPresent; else userNotPresent">
  </ng-container>

  <ng-template #userPresent>
    <ion-card>
      <ion-img src="{{userPhotoUrl ? userPhotoUrl : 'https://media1.giphy.com/media/52qtwCtj9OLTi/giphy.gif'}}" class="img-profile"></ion-img>
      <ion-card-header>
        <ion-card-title>Name: {{userState.displayName}}</ion-card-title>
        <ion-card-subtitle>E-mail: {{userState.email}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <div class="profile-manage-buttons">
      <button mat-flat-button class="warning-button" (click)="deleteAccount()">Delete account</button>
      <button mat-flat-button class="warning-button" (click)="signOut()">Sign Out</button>
    </div>
  </ng-template>
  <ng-template #userNotPresent>
    <div class="form-container-flex">
      <span>
        <ion-spinner name="dots"></ion-spinner>
      </span>
    </div>
  </ng-template>
</ion-content>